*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
**/.env
**/target/
**/node_modules/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
app/android/.gradle/
frontend/dist/
